@import "./../../../../../sass/utils/active-element";

.element {
  cursor: pointer;
  position: absolute;

  @include activeElement;

  &--active,
  &.cdk-drag-dragging {
    z-index: 10;
  }

  &.cdk-drag-dragging {
    cursor: grabbing !important;
  }

  &__head {
    pointer-events: none;

    position: absolute;
    top: -30px;

    margin-left: -6px;
    width: calc(100% + 6px);
  }

  &__label {
    display: inline-block;

    padding: 2px 4px;
    border-radius: 5px;

    background-color: white;
    color: #202020;

    font-size: 11px;
    white-space: nowrap;
  }
}
