@mixin activeElement {
  outline: 2px dotted transparent;
  outline-offset: 4px;

  transition-duration: 0.2s;
  transition-property: outline-color;

  &:hover {
    outline: 2px dotted grey;
    outline-offset: 4px;
  }
}
