<div #elementRef
  cdkDrag
  cdkDragBoundary=".canvas"
  class="element element--text"
  [ngClass]="{ 'element--active': isActive() }"
  [cdkDragDisabled]="!drag"
  [cdkDragFreeDragPosition]="element?.position"
  (cdkDragStarted)="onDragStart()"
  (cdkDragMoved)="onDrag($event)"
  (cdkDragEnded)="onDragEnd()">

  <!-- Head -->
  <div *ngIf="showHead()"
    class="element__head"
    [@fade]>

    <!-- Position -->
    <div class="element__position">
      <span>{{ getPositionLabel() }}</span>
    </div>
  </div>

  <div class="element__body">
    <span *ngIf="element"
      type="text"
      [style.color]="element?.color">{{ element?.text }}</span>
  </div>
</div>