<div class="board">
  <div class="canvas"
    [style.min-height.px]="board?.dimension?.height"
    [style.min-width.px]="board?.dimension?.width">
    <ng-container *ngFor="let element of board?.elements"
      [ngSwitch]="element.type">

      <!-- Box -->
      <app-box-element *ngSwitchCase="ElementType.Box"
        [element]="element"></app-box-element>

      <!-- Text -->
      <app-text-element *ngSwitchCase="ElementType.Text"
        [element]="element"></app-text-element>
    </ng-container>
  </div>
</div>