.board {
  position: relative;
  background-color: #dedede;
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  display: flex;

  overflow: auto;
  padding: 100px;

  .canvas {
    position: relative;
    margin: auto;

    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: content-box;

    height: min-content;
    width: min-content;
  }
}
