.root {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-areas: "left content right";

  height: 100%;
  width: 100%;

  .left {
    grid-area: left;
  }

  .content {
    grid-area: content;
  }

  .right {
    grid-area: right;
  }
}
