.root {
  display: flex;
  flex-direction: row;

  border-right: 1px solid grey;
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  .toolbar {
    padding: 5px;

    &__list {
      list-style-type: none;

      margin: 0;
      padding: 0;
    }

    &__item {
      cursor: pointer;

      border: 1px solid grey;
      border-radius: 4px;

      padding: 10px 15px;
      margin-bottom: 5px;
    }
  }

  .options {
    min-width: fit-content;
    padding: 5px;
  }
}
