.textdraw {
  --select-color: #1a58a8;

  cursor: grab;
  user-select: none;
  position: absolute;

  transition-duration: 0.2s;
  outline-color: transparent;
  transition-property: outline-color;

  &__meta {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 11px;
    font-family: monospace;
    color: var(--select-color);

    opacity: 0;
    white-space: nowrap;
    pointer-events: none;

    transition-duration: 0.2s;
    transition-property: opacity;
  }

  &__resizer {
    position: relative;
    pointer-events: none;

    width: 100%;
    height: 100%;

    .handle {
      --offset: 13px;
      --thickness: 8px;
      
      opacity: 0;
      pointer-events: all;
      background-color: var(--select-color);

      position: absolute;
      border-radius: 5px;

      transition-duration: 0.2s;
      transition-property: opacity;

      &--se,
      &--sw,
      &--ne,
      &--nw {
        width: var(--thickness);
        height: var(--thickness);
      }
    
      &--n,
      &--e,
      &--s,
      &--w {
        --thickness: 3px;
      }

      &--se {
        cursor: se-resize;

        right: calc(var(--offset) * -1);
        bottom: calc(var(--offset) * -1);
      }

      &--sw {
        cursor: sw-resize;

        left: calc(var(--offset) * -1);
        bottom: calc(var(--offset) * -1);
      }

      &--ne {
        cursor: ne-resize;

        right: calc(var(--offset) * -1);
        top: calc(var(--offset) * -1);
      }

      &--nw {
        cursor: nw-resize;

        left: calc(var(--offset) * -1);
        top: calc(var(--offset) * -1);
      }

      &--n {
        cursor: n-resize;

        left: 50%;
        top: calc(var(--offset) * -1);
        transform: translateX(-50%);

        height: var(--thickness);
        width: clamp(10px, 100%, 50%);
      }

      &--e {
        cursor: e-resize;

        top: 50%;
        right: calc(var(--offset) * -1);
        transform: translateY(-50%);

        width: var(--thickness);
        height: clamp(10px, 100%, 50%);
      }

      &--s {
        cursor: s-resize;

        left: 50%;
        bottom: calc(var(--offset) * -1);
        transform: translateX(-50%);

        height: var(--thickness);
        width: clamp(10px, 100%, 50%);
      }

      &--w {
        cursor: w-resize;

        top: 50%;
        left: calc(var(--offset) * -1);
        transform: translateY(-50%);

        width: var(--thickness);
        height: clamp(10px, 100%, 50%);
      }
    }
  }

  &__text {
    width: fit-content;
  }

  &--box {
    font-family: unset;
  }

  &--text {
    .textdraw--font {
      &-stylized {
        font-family: 'Font Stylized';
      }

      &-normal {
        font-family: 'Font Normal';
      }

      &-thin {
        font-family: 'Font Thin';
      }

      &-bold {
        font-family: 'Font Bold';
      }

      &-sprite {}

      &-model {}
    }
  }

  &:active {
    cursor: grabbing;
  }

  &:hover,
  &--active {
    outline: 2px dotted var(--select-color);
    outline-offset: 2px;

    .textdraw__meta {
      opacity: 1;
    }

    .textdraw__resizer .handle {
      opacity: 0.3;

      &:hover,
      &:active {
        opacity: 0.7;
      }
    }
  }
}