<div #elementRef
  mwlResizable
  cdkDrag
  cdkDragBoundary=".canvas"
  class="element element--box"
  [ngClass]="{ 'element--active': isActive() }"
  [style.height.px]="getHeight()"
  [style.width.px]="getWidth()"
  [style.backgroundColor]="getColor()"
  [validateResize]="validateResize.bind(this)"
  [enableGhostResize]="true"
  [resizeEdges]="getResizeEdges()"
  [cdkDragDisabled]="!drag"
  [cdkDragFreeDragPosition]="element?.position"
  (cdkDragStarted)="onDragStart()"
  (cdkDragMoved)="onDrag($event)"
  (cdkDragEnded)="onDragEnd()"
  (resizeStart)="onResizeStart()"
  (resizing)="onResize($event)"
  (resizeEnd)="onResizeEnd($event)">

  <!-- Head -->
  <div *ngIf="showHead()"
    class="element__head"
    [@fade]>

    <!-- Position -->
    <div class="element__position">
      <span>(x: {{ this.element?.position?.x | number:'1.0'  }}, y:
        {{ this.element?.position?.y | number:'1.0' }})</span>
    </div>
  </div>

  <!--  Hitbox -->
  <div class="hitbox"
    (mouseenter)="onDragActive()"
    (mouseleave)="onDragDisactive()"></div>

  <!-- Handles -->
  <div class="resize-handle resize-handle--top"
    mwlResizeHandle
    [resizeEdges]="{ top: true }"></div>
  <div class="resize-handle resize-handle--left"
    mwlResizeHandle
    [resizeEdges]="{ left: true }"></div>
  <div class="resize-handle resize-handle--right"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"></div>
  <div class="resize-handle resize-handle--bottom"
    mwlResizeHandle
    [resizeEdges]="{ bottom: true }"></div>
</div>