.element {
  &__label.element--dimension {
    position: fixed;
  }

  &--box {
    --resize-stroke: 8px;
    --resize-offset: 5px;

    background-color: #0000005c;

    .hitbox {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    mwlResizable {
      box-sizing: border-box;
    }

    .resize-handle {
      position: absolute;

      &--top,
      &--bottom {
        cursor: n-resize;
        left: calc(-1 * var(--resize-offset));

        height: var(--resize-stroke);
        width: calc(100% + (var(--resize-offset) * 2));
      }

      &--left,
      &--right {
        cursor: e-resize;
        top: calc(-1 * var(--resize-offset));

        height: calc(100% + (var(--resize-offset) * 2));
        width: var(--resize-stroke);
      }

      &--top {
        top: calc(-1 * var(--resize-offset));
      }

      &--bottom {
        bottom: calc(-1 * var(--resize-offset));
      }

      &--left {
        left: calc(-1 * var(--resize-offset));
      }

      &--right {
        right: calc(-1 * var(--resize-offset));
      }
    }
  }
}

.resize-ghost-element {
  .element__label {
    display: none;
  }
}
