<div #elementRef
  mwlResizable
  cdkDrag
  cdkDragBoundary=".canvas"
  class="element element--box"
  [ngClass]="{ 'element--active': isActive() }"
  [style.height.px]="getHeight()"
  [style.width.px]="getWidth()"
  [style.backgroundColor]="getColor()"
  [enableGhostResize]="true"
  [resizeEdges]="getResizeEdges()"
  [cdkDragDisabled]="!drag"
  [cdkDragFreeDragPosition]="element?.position"
  (cdkDragStarted)="onDragStart()"
  (cdkDragMoved)="onDrag($event)"
  (cdkDragEnded)="onDragEnd()"
  (resizeStart)="onResizeStart($event)"
  (resize)="onResizeStart($event)"
  (resizeEnd)="onResizeEnd($event)">

  <!-- Head -->
  <div *ngIf="showHead()"
    class="element__head"
    [@fade]>

    <!-- Position -->
    <div class="element__position">
      <span>{{ getPositionLabel() }}</span>
    </div>
  </div>

  <!--  Hitbox -->
  <div class="hitbox"
    (mouseenter)="onDragActive()"
    (mouseleave)="onDragDisactive()"></div>
</div>